<!-- <p>
  start works!
</p> -->
<mat-accordion>

  <li *ngFor="let hero of heroesList">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{hero.alias}}
        </mat-panel-title>
        <mat-panel-description>
          {{hero.power}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <h2>{{hero.name}}</h2>
      <p>{{hero.description}}</p>

      <mat-action-row>
        <button mat-button color="primary" >{{hero.price}}</button>
        <button mat-fab color="primary" (click)="nextStep()">Hire</button>

      </mat-action-row>
    </mat-expansion-panel>
  </li>

</mat-accordion>
